name = "cfpb-mcp"
main = "ts-mcp/src/index.ts"
compatibility_date = "2025-12-01"

[observability]
[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[observability.traces]
enabled = true
head_sampling_rate = 1
persist = true
